<div class="most-popular-container">
    <h3 class="most-popular__title">Mas Populares</h3>
    <ul class="most-popular__list">
        <li><a href="" id="#post1">Post numero 1 de la lista</a></li>
        <li><a href="" id="#post2">Post numero 2 de la lista</a></li>
        <li><a href="" id="#post3">Post numero 3 de la lista</a></li>
        <li><a href="" id="#post4">Post numero 4 de la lista</a></li>
        <li><a href="" id="#post5">Post numero 5 de la lista</a></li>
    </ul>

    <nav>
        <ul class="menu-slider">
            <li class="menu-slider-item">
                <a href="#post1">
                    <input type="radio" name="menu-radio">
                </a>
            </li>
            <li class="menu-slider-item">
                <a href="#post2">
                    <input type="radio" name="menu-radio">
                </a>
            </li>
            <li class="menu-slider-item">
                <a href="#post3">
                    <input type="radio" name="menu-radio">
                </a>
            </li>
            <li class="menu-slider-item">
                <a href="#post4">
                    <input type="radio" name="menu-radio">
                </a>
            </li>
            <li class="menu-slider-item">
                <a href="#post5">
                    <input type="radio" name="menu-radio">
                </a>
            </li>
        </ul>
    </nav>
</div>