<div class="most-popular-container">
    <h3 class="most-popular__title">Mas Populares</h3>
    <div class="slider">
        <!-- <ul class="most-popular__list">
            <li class="popular-list_item" id="post1">
                <a href="">
                    <app-post-miniature
                        [imageURL]="'assets/media/img/furgo_bicis.jpg'"
                        [title]="'Mi primera aventura'">
                    </app-post-miniature>
                </a>
            </li>
            <li class="popular-list_item" id="post2">
                <a href="">
                    <app-post-miniature
                        [imageURL]="'assets/media/img/vistas_furgo.jpg'"
                        [title]="'Ecapada con la Furgo'">
                    </app-post-miniature>
                </a>
            </li>
            <li class="popular-list_item" id="post3">
                <a href="">
                    <app-post-miniature
                        [imageURL]="'assets/media/img/furgo_perro.jpg'"
                        [title]="'Paseo por los rios'">
                    </app-post-miniature>
                </a>
            </li>
            <li class="popular-list_item" id="post4">
                <a href="">
                    <app-post-miniature
                            [imageURL]="'assets/media/img/furgo_bicis.jpg'"
                            [title]="'Mi primera aventura'">
                        </app-post-miniature>
                </a>
            </li>
            <li class="popular-list_item" id="post5">
                <a href="">
                    <app-post-miniature
                        [imageURL]="'assets/media/img/vistas_furgo.jpg'"
                        [title]="'Ecapada con la Furgo'">
                    </app-post-miniature>
                </a>
            </li>
        </ul> -->
       <!--  <div class="buttons-container"> -->
            <button class="button-slider button-previous" (click)="previous_Image()">
                <
            </button>
            <button class="button-slider button-next" (click)="next_Image()">
                >
            </button>
      <!--   </div> -->
    </div>
</div>