.most-popular__list{
    padding-left: 0;
    overflow: hidden;
    animation-duration: 1s;
    animation-name: show-most-popular-list;
}

@keyframes show-most-popular-list {
    from{
        height: 0;
    }
    to{
        height: 85px;
    }
}