<div class="most-popular-container">
    <h3 class="most-popular__title">Mas Populares</h3>
    <ul class="most-popular__list">
        <li class="popular-list_item"><a href="" id="post1">Post numero 1 de la lista</a></li>
        <li class="popular-list_item"><a href="" id="post2">Post numero 2 de la lista</a></li>
        <li class="popular-list_item"><a href="" id="post3">Post numero 3 de la lista</a></li>
        <li class="popular-list_item"><a href="" id="post4">Post numero 4 de la lista</a></li>
        <li class="popular-list_item"><a href="" id="post5">Post numero 5 de la lista</a></li>
    </ul>

    <nav>
        <ul class="menu-slider">
            <li class="menu-slider-item">
                <a href="#post1">
                    1
                </a>
            </li>
            <li class="menu-slider-item">
                <a href="#post2">
                    2
                </a>
            </li>
            <li class="menu-slider-item">
                <a href="#post3">
                    3
                </a>
            </li>
            <li class="menu-slider-item">
                <a href="#post4">
                    4
                </a>
            </li>
            <li class="menu-slider-item">
                <a href="#post5">
                    5
                </a>
            </li>
        </ul>
    </nav>
</div>