<div class="main-menu_container">
    <app-main-menu-option   [optionIconURL]='"camperizar"'
                            [optionTitle]="'Camperizar'"
                            [optionText]="'Aprende a preparar tu vehículo para vivir nuevas aventuras'">
    </app-main-menu-option>
    <app-main-menu-option   [optionIconURL]='"blog"'
                            [optionTitle]="'Aventuras'"
                            [optionText]="'Mis locas escapadas y experiencias'">
    </app-main-menu-option>
    <app-main-menu-option   [optionIconURL]='"articulos"'
                            [optionTitle]="'Articulos'"
                            [optionText]="'Encuentra los articulos perfectos para tu vehículo'">
    </app-main-menu-option>
</div>