<div    class="aventura" 
        [ngClass]="{'publicado_checked': aventura.publicado}">
    <h4 class="aventura__title">{{ aventura.titulo }}</h4>
    <div class="aventura__cuerpo">
        <span class="aventura__date">{{ aventura.fecha_creacion | date:'dd-MM-yyyy' }}</span>
        <div class="aventura__actions">
            <input type="checkbox" [checked]="aventura.publicado" class="publicado" (change)="publicarAventura($event, aventura)">
            <img src="assets/media/icons/edit.svg" alt="" class="icon" (click)="onEditAventura()">
            <img src="assets/media/icons/trash-delete-bin.svg" alt="" class="icon" (click)="deleteAventura(aventura)">
        </div>
    </div>
</div>