.info-container{
    display: flex;;
}
.info{
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    font-style: italic;
    color: #1f1f1f;
    text-decoration: none;
}
.icon{
    width: 1rem;
   /*  filter: invert(1); */
}