.post-selected-container{
    min-height: calc(100vh - 10rem);
    background-color: #1f1f1f;
    color: #f1eded;
    border-bottom: solid 2px #aaaa;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: auto;
}
.post-title{
    max-width: 40rem;
}
.header-image{
    max-height: 30rem;
    max-width: 40rem;
    object-fit: cover;
    border-bottom: 2px solid #aaa;
    margin-bottom: 1rem;
}
.info-post, .post-text{
    width: 50%;
    max-width: 40rem;

}
.info-post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid;
    margin-bottom: 1rem;
}
.post-title{
    width: 90%;
    text-align: center;
    /* border-bottom: solid 1px;
    padding-bottom: 1rem; */
}
.post-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
}
.pie-foto{
    font-style: italic;
    font-size: .8rem;
}
.toUpButton{
    width: 2.5rem;
    height: 2rem;
    color: #fff;
    border: none;
    position: fixed;
    right: 3px;
    top: 80vh;
    background-image: url('./../../../../assets/media/icons/toUp.svg');
    background-color: rgba(255, 255, 255, 0.3);
    background-position: center;
}
.toUpButton:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    color: #1f1f1f;
}
.showButtonUp{
    visibility: visible;
}

@media screen and (max-width: 750px) {
    .info-post, .post-text{
        width: 85%;
    }
}