<div class="post-selected-container">
    <img src="" alt="" class="header-image">
    <div class="info-post">
        <app-user-miniature-info></app-user-miniature-info>
        <app-post-miniature-info></app-post-miniature-info>
    </div>
    <div class="post-text">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum nemo vitae quas rerum voluptates perferendis voluptatum ipsa nostrum esse unde eaque sed cupiditate impedit adipisci, debitis mollitia necessitatibus. Sint, maiores?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum nemo vitae quas rerum voluptates perferendis voluptatum ipsa nostrum esse unde eaque sed cupiditate impedit adipisci, debitis mollitia necessitatibus. Sint, maiores?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum nemo vitae quas rerum voluptates perferendis voluptatum ipsa nostrum esse unde eaque sed cupiditate impedit adipisci, debitis mollitia necessitatibus. Sint, maiores?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum nemo vitae quas rerum voluptates perferendis voluptatum ipsa nostrum esse unde eaque sed cupiditate impedit adipisci, debitis mollitia necessitatibus. Sint, maiores?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum nemo vitae quas rerum voluptates perferendis voluptatum ipsa nostrum esse unde eaque sed cupiditate impedit adipisci, debitis mollitia necessitatibus. Sint, maiores?
        </p>
    </div>
</div>