.post-selected-container{
    min-height: calc(100vh - 10rem);
    background-color: #121212;
    color: #dddd;
    border-top: solid 2px #aaaa;
    border-bottom: solid 2px #aaaa;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-image{
    max-height: 20rem;
    object-fit: cover;
    width: 90%;
    border-bottom: 1px solid;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.info-post, .post-text{
    width: 70%;
}
.info-post{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text{
    text-align: justify;
}