.post-container{
    margin-top: 1rem;
    margin: 0 auto;
    min-height: calc(100vh - 10rem);
    /* width: 80%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    color: #f1eded;
}
.list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list-elemets{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.posts-list{
    width: 60%;
}
.list-container{
    width: 30%;
}

@media screen and (max-width: 750px) {
    .post-container{
        width: 100%;
    }
    .posts-list{
        width: 100%;
    }
    .list-container{
        width: 100%;
    }
}