.category-list{
    padding-left: 0;
    animation-duration: 2s;
    animation-name: show-category-list;
}

@keyframes show-category-list {
    from{
        height: 0;
    }
    to{
        height: 85px;
    }
}