.category-list{
    padding-left: 0;
    overflow: hidden;
    animation: show-category-list 1.5s ease-in-out;
}

@keyframes show-category-list {
    from{
        height: 0;
    }
    to{
        height: 85px;
    }
}