.post-container{
    position: relative;
    min-height: calc(100vh - 20rem);
    top: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #ffff;
    /* animation: show-container 1s; */
    background-color: rgba(0, 0, 0, .96);
    color: #ffff;
    z-index: 911;
}
.hidden-post-container{
    transform: translateY(100%);
}
@keyframes show-container {
    from{
        transform: translatey(100%);
    }
    to{
        transform: translateX(0);
    }
}
.header-image-container{
    height: 10rem;
    width: 90%;
    background-color: rgba(255, 255, 255, .7);
    border: 1px dotted;
}
.options-container{
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 900;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    left: 0;
    animation: show-options .8s;
}
@keyframes show-options {
    from{
        transform: translatex(-30rem);
    }
    to{
        transform: translateX(0);
    }
}
.option-list{
    list-style: none;
    padding: 0;
    width: 100%;
}
.option-item{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: .5rem;
}
.option{
    margin: 0 .5rem;
    width: 4rem;
    height: 1.5rem;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    border: transparent;
    box-shadow: 5px 5px 5px 0px #aaa;
}
.option:hover{
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px;
}
.container-elements{
    width: 70%;
}

.subOption{
    margin: 0 .2rem;
}

.post-image{
    max-width: 40rem;
}
.form-element{
    width: 40%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 20px -5px #aaa;
    background-color: #fff;
    color: black;
}
.form-control{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
}
.label{
    width: 100%;
}
.element-to-add-container{
    position: fixed;
    top: 0;
    margin: 0 auto;
    z-index: 900;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
}
.subOption-hidden{
    display: none;
}
.input-to-add{
    outline: none;
    background-color: #ffff;
    border: none;
    border-bottom: 1px solid #aaa;
    margin: .5rem 0;
    width: 100%;
}
.text-area{
    border: 1px solid #aaaa;
    margin-top: 1rem;
    outline: none;
}
.btn-element{
    margin: 0 .5rem;
    color: #fff;
    border: none;
    padding: .2rem .7rem;
}
.btn-add{
    background-color: royalblue;
}
.btn-cancel{
    background-color: red;
}
@media screen and (max-width: 750px) {
    .post-container{
        width: 100%;
    }
    .form-element{
        width: 80%;
    }
}
@media screen and (max-width: 1024px) and (min-width: 751px){
    /* .post-container{
        width: 70%;
    } */
    .form-element{
        width: 70%;
    }
}

/****** Elemenetos de la ventana Modal ***********/
.modal_container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    transform: translateY(-100%);
    transition: transform .5s;
    background-color: rgba(0, 0, 0, .7);
    display: none;
}
.modal_visible{
    transform: translateY(0);
}
.modal{
    position: relative;
    border: 1px solid dodgerblue;
    background-color: dodgerblue;
    color: #ffff;
    padding: 1rem;
    width: 20rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 5px 5px 10px -4px #ffff;
}
.button_close-modal{
    background-color: dodgerblue;
    color: #fff;
    font-weight: bold;
    border: none;
    margin: .5rem 0 .5rem 0;
    padding: .5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
    box-shadow: 3px 3px 15px -5px #ffff;
}
.img-btn{
    width: 1.5rem;
}
.prevImage{
    max-width: 20rem;
}
.text-container{
    width: 100%;
    max-height: 10rem;
    padding: 1rem;
    overflow-wrap: break-word;
    overflow-y: auto;
}

/*********** Nuevo menu opciones **********/
.menu-edition{
    list-style: none;
    display: grid;
    justify-content: center;
    margin: .5rem 0 0 0;
    background-color: #ffff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #aaa;
    padding: 0;
    position: sticky;
    top: 5rem;
}
.menu-edition li{
    overflow: hidden;
}
.btn-option{
    background-color: transparent;
    border: none;
    width: 2.5rem;
    padding: .5rem;
}
.btn-option:hover{
    cursor: pointer;
    background-color: #aaa;
    border-radius: 0;
}
.notVisible{
    display: none;
}
.visible{
    display: block;
}
.btn-option:disabled{
    background-color: darkgrey;
    opacity: .5;
    cursor: default;
}
.btn-publicar{
    background-color: dodgerblue;
    color: #fff;
    border: none;
    padding: .5rem 2rem;
    box-shadow: 3px 3px 5px 0px #aaaa;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.close-view{
    position: absolute;
    top: .5rem;
    right: .5rem;
}


/**** Loading *******/
.loading{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading_gid{
    width: 5rem;
}

/************* Elemento Tarjet *******/
.elemento_tarjet{
    position: relative;
}
.options__element{
    position: absolute;
    right: 0;
}
.icon{
    width: 1.5rem;
    margin: .3rem;
    background-color: rgba(255, 255, 255, .5);
    padding: .2rem;
    border-radius: 50px;
}