<div class="post-container">
    <!-- <div class="header-image-container">
    </div> -->
    <aside class="options-container">
        <ul class="option-list">
            <li class="option-item">
                <button class="option"
                        (click)="showSuboption('texto')">Texto
                </button>
                <div    class="subOption-container"
                        [ngClass]="{ 'subOption-hidden' : subOptionsTextVisible === false }">
                    <button class="option subOption" (click)="showInputElemenToAdd('h1')">Titulo</button>
                    <button class="option subOption" (click)="showInputElemenToAdd('h2')">Subtitulo</button>
                    <button class="option subOption" (click)="showInputElemenToAdd('ul')">Lista</button>
                    <button class="option subOption" (click)="showInputElemenToAdd('p')">Parrafo</button>
                </div>
            </li>
            <li class="option-item">
                <button class="option"
                        (click)="showSuboption('media')">Media
                </button>
                <div    class="subOption-container"
                        [ngClass]="{ 'subOption-hidden' : subOptionsMediaVisible === false }">
                    <button class="option subOption" (click)="showInputElemenToAdd('img')">Imagen</button>
                    <!-- <button class="option subOption" (click)="showInputElemenToAdd('galery')">Galeria</button> -->
                </div>
            </li>
            <!-- <li class="option-item">
                <button class="option">Video</button>
            </li> -->
        </ul>
    </aside>

    <div class="container-elements" style="width: 90%;">

    </div>

    <div    class="element-to-add-container"
            [ngClass]="{ 'subOption-hidden' : showInputElement === false && showInputElementImage === false}">
        <form   action="" 
                class="form-element"
                [formGroup]="formNewElement">
            <div class="form-control">
                <label for="" class="label">{{ elementTag }}</label>
                <input  type="text" 
                    class="input-to-add" 
                    formControlName="element"
                    [ngClass]="{ 'subOption-hidden' : showInputElement === false }">
                <input  type="file" 
                    class="input-to-add" 
                    formControlName="elementImage"
                    [ngClass]="{ 'subOption-hidden' : showInputElementImage === false }"
                    (change)="onImageChange($event)">
            </div>
            <div class="buttons-container">
                <button class="btn-element btn-add" (click)="guardarElemento()">Guardar</button>
                <button class="btn-element btn-cancel" (click)="closeInputElement()">Cancelar</button>
            </div>
        </form>
    </div>
    <button (click)="addElements()">
        Publicar
    </button>
</div>