.search-container{
    margin-top: 2rem;
    position: relative;
    display: flex;
    align-items: center;
}
.buscador{
    width: 8rem;
    height: 2rem;
    outline: none;
    padding: 0 2rem 0 1rem;
    border: 1px solid #aaa;
    border-radius: 20px;
}
.buscador-icon{
    width: 1.5rem;
    position: absolute;
    right: .5rem;
    opacity: 0.6;
}

@media screen and (min-width: 760px) {
    .buscador{
        width: 10rem;
    }
}