.search-container{
    margin-top: 2rem;
    position: relative;
    display: flex;
    align-items: center;
}
.buscador{
    border-radius: 20px;
    width: 10rem;
    height: 2rem;
    outline: none;
    padding: 0 2rem 0 1rem;
}
.buscador-icon{
    width: 1.5rem;
    position: absolute;
    right: .5rem;
}