.search-container{
    position: relative;
    display: flex;
    align-items: center;
    width: 18rem;
    margin: 0 auto;
}
.buscador{
    width: 15rem;
    height: 2rem;
    padding: 0 2.5rem 0 .5rem;
    border: 1px solid dodgerblue;
    border-radius: 5px;
}
.buscador:focus{
    outline: none;
}
.buscador-icon{
    position: absolute;
    width: 2rem;
    padding: 0.1rem;
    right: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: dodgerblue;
}

@media screen and (max-width: 760px) {
    .buscador{
        width: 15rem;
    }
}