<div class="post-list-container">
    <h2 class="title">Aventuras</h2>
    <app-post-miniature
        [imageURL]="'assets/media/img/furgo_bicis.jpg'"
        [title]="'Mi primera aventura'"
        [index]=1>
    </app-post-miniature>
    <app-post-miniature
        [imageURL]="'assets/media/img/vistas_furgo.jpg'"
        [title]="'Ecapada con la Furgo'"
        [index]=2>
    </app-post-miniature>
    <app-post-miniature
        [imageURL]="'assets/media/img/furgo_perro.jpg'"
        [title]="'Paseo por los rios'"
        [index]=3>
    </app-post-miniature>
</div>