.post-list-container{
    display: grid;
    justify-content: center;
    /* animation: show-posts-list 1.5s ease-in-out; */
}
.title{
    text-align: center;
}
.btn-new-aventura{
    width: 15rem;
    padding: 1rem;
    background-color: dodgerblue;
    text-align: center;
    margin: 1rem auto;
    border-radius: 2px;
}
@keyframes show-posts-list {
    from{
        transform: translateX(-150%);
    }
    to{
        transform: translateX(0);
    }
}