.adminaventura-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 20vh);
    padding-top: 2rem;
}
.btn-new-aventura{
    width: 15rem;
    padding: 1rem;
    background-color: dodgerblue;
    text-align: center;
    margin: 1rem auto;
    border-radius: 2px;
}
.btn-action{
    background-color: transparent;
    border: none;
}
.btn-action:hover{
    background-color: #aaaa;
}
.titulo{
    white-space: nowrap;
    text-align: left;
}
.titulo-container{
    width: 20rem;
    overflow-x: auto;
}
.titulo-container::-webkit-scrollbar{
    display: none;
}
.img-btn{
    width: 1.5rem;
}
.table-container{
    width: 100%;
    overflow-x: auto;
    display: flex;
    justify-content: center;
}
.aventuras{
    margin-top: 1rem;
    border-collapse: collapse;
    width: 80%;
    max-width: 50rem;
    text-align: center;
}
.aventuras__cabecera{
    background-color: steelblue;
    color: #ffff;
}
.aventuras__cabecera > th{
    padding: .5rem;
}

@media screen and (max-width: 750px) {
    .aventuras{
        width: 100%;
    }
    .table-container{
        justify-content: flex-start;
    }
}

.modal_container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    transform: translateY(-100%);
    transition: transform .5s;
    background-color: rgba(0, 0, 0, .7);
}
.modal_visible{
    transform: translateY(0);
}
.modal{
    position: relative;
    border: 1px solid dodgerblue;
    background-color: dodgerblue;
    color: #ffff;
    padding: 1rem;
    width: 20rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 5px 5px 10px -4px #ffff;
}
.button_close-modal{
    position: absolute;
    right: 0;
    top: 0;
    filter: invert(1);
}


.loading{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
}
.loading-hidden{
    display: none;
}
.loading-img{
    width: 20%;
}


/******************************/
.aventuras-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.aventura{
    width: 20rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    border: 1px solid #aaaa;
    margin: .5rem;
    background-color: darkgrey;
    border-radius: 3px;
}
.aventura__title{
    width: 70%;
    overflow-y: auto;
    margin: .5rem 0;
    padding: 0 .5rem;
}
.aventura__cuerpo{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: .5rem;
}
.aventura__date{

}
.aventura__actions{
    display: flex;
    align-items: center;
}
.publicado{
    width: 1.2rem;
    height: 1.2rem;
}
.publicado_checked{
    background-color: lightseagreen;
    color: #ffff;
}
.icon{
    width: 2rem;
    width: 1.5rem;
    margin: .3rem;
}