.adminaventura-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    min-height: calc(100vh - 20vh);
    padding-top: 2rem;
}
.btn-new-aventura{
    width: 15rem;
    padding: 1rem;
    background-color: dodgerblue;
    text-align: center;
    margin: 1rem auto;
    border-radius: 2px;
}