<div>
    <app-crete-new-post *ngIf="showAddAventura" 
                        (addAvntura)="addAventura($event)" 
                        [currentAventura]="currentAventura"
                        (cerrarVista)="cerrarVista()"
                        (componentCargado)="ocultarVentana()">
    </app-crete-new-post>
    <div    class="adminaventura-container" [hidden]="ocultarAdmin()">
        <button (click)="showCreateAventura()"
                class="btn-new-aventura"
                [hidden]="!aventurasCargadas">
            <img    src="assets/media/icons/add.svg" alt="">
        </button>

        <div class="aventuras-container">
            <app-aventura-tarjet    *ngFor="let aventura of aventuras"
                                    [aventura]="aventura"
                                    (editAventura)="editarAventura(aventura)"
                                    (delAventura)="delAventura(aventura)">
            </app-aventura-tarjet>
        </div>
        <div    class="modal_container"
                [ngClass]="{'modal_visible': message}">
            <div class="modal">
                <button class="btn-action button_close-modal" (click)="closeModel()">
                    <img src="assets/media/icons/close-circle.svg" alt="">
                </button>
                <p>{{ message }}</p>
            </div>
        </div>

        <div    class="loading"
                *ngIf="!aventurasCargadas">
            <img src="assets/media/gifs/loading.gif" alt="" class="loading-img">
        </div>
    </div>
</div>
