<div    class="lateral-menu-container">
        <!-- [ngClass]="{ 'lateral-menu-container__notVisible' : currentRoute === 'inicio' }"> -->
    <!-- <div class="layout" [ngClass]="{ 'menu-list_show' : showMenu }" (click)="openCloseMenu()"></div> -->
    <!-- <img    src="assets/media/icons/menu_open.svg" alt="Mi primera Furgo" class="menu-icon"
            [ngClass]="{ 'menu-icon-notvisible' : currentRoute === 'inicio' }"
            (click)="openCloseMenu()"> -->
    <ul class="menu-list"
        (click)="openCloseMenu()">
        <app-menu-item  [itemLabel]="'Home'"
                        [itemRoute]="'home'"
                        [iconRoute]="'home'">
        </app-menu-item>
        <app-menu-item  [itemLabel]="'Camperizar'"
                        [itemRoute]="'camperizar'"
                        [iconRoute]="'camperizar'">
        </app-menu-item>
        <app-menu-item  [itemLabel]="'Aventuras'"
                        [itemRoute]="'aventuras'"
                        [iconRoute]="'blog'">
        </app-menu-item>
        <app-menu-item  [itemLabel]="'Articulos'"
                        [itemRoute]="'articulos'"
                        [iconRoute]="'articulos'">
        </app-menu-item>
        <app-menu-item  [itemLabel]="'Configuracion'"
                        [itemRoute]="'administrar'"
                        [iconRoute]="'administrar'">
        </app-menu-item>
        <app-menu-item  [itemLabel]="'Contacto'"
                        [itemRoute]="'contacto'"
                    [iconRoute]="'contact'">
        </app-menu-item>
    </ul>
</div>