.menu-lateral-container{
    position: relative;
}
.menu-icon{
    width: 2.5rem;
    filter: invert(1);
    position: absolute;
    left: 10px;
    top: 1.5rem;
    transform: translate();
    transition: transform .5s;
}
.menu-icon-notvisible{
    transform: translate(-150%);
}
.menu-list{
    z-index: 999;
    padding: 0;
    margin: 0;
    width: 100vw;
    position: absolute;
    top: 5rem;
    left: 0rem;
    height: calc(100vh - 5rem);
    background-color: rgba(0, 0, 0, 0.9);
    list-style: none;
    transform: translateX(-150%);
    transition: transform .5s;
}
.menu-list_show{
    transform: translateX(0);
}
.list-item{
    margin-top: 1rem;
    position: relative;
    padding-left: 1rem;
}
.item-link{
    width: 8rem;
    text-decoration: none;
    color: #ffff;
    display: flex;
    align-items: center;
    border-top: solid 2px transparent;
    border-bottom: solid 2px transparent;
    padding-top: 2px;
    padding-bottom: 2px;
}
.item-link:hover{
    border-top: solid 2px magenta;
    border-bottom: solid 2px magenta;
}
.link-image{
    width: 1.5rem;
    filter: invert(1);
    margin-right: 1rem;
}