.lateral-menu-container{
    position: fixed;
    z-index: 999;
}
.menu-icon{
    width: 2.5rem;
    /*filter: invert(1);*/
    position: absolute;
    left: 10px;
    top: 1.5rem;
    transform: translate();
    transition: transform .5s;
    background-color: #ffff;
    border-radius: 50px;
}
.menu-icon:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.menu-icon-notvisible{
    transform: translate(-150%);
}
.menu-list{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    list-style: none;
    transform: translateX(-150%);
    transition: transform .5s;
}
.menu-list_show{
    transform: translateX(0);
}
.list-item{
    width: 15rem;
    margin-top: 1rem;
    position: relative;
    padding-left: 2rem;
}
.item-link{
    width: 8rem;
    text-decoration: none;
    color: #ffff;
    display: flex;
    align-items: center;
    border-top: solid 2px transparent;
    border-bottom: solid 2px transparent;
    padding-top: 2px;
    padding-bottom: 2px;
}
.item-link:hover, .active{
    border-top: solid 2px #ffff;
    border-bottom: solid 2px #ffff;
}
.link-image{
    width: 1.5rem;
    filter: invert(1);
    margin-right: 1rem;
}