.header-container{
    position: relative;
    height: 20rem;
    overflow: hidden;
    display: flex;
}
.header-image{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.header-title{
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    color: #ffff;
    font-size: 4rem;
}