.header-container{
    position: relative;
    overflow: hidden;
    display: flex;
    transition: height .6s, font-size .4s;
}
.header-container-compact{
    height: 5rem;
    font-size: 1rem;
}
.header-container-expand{
    height: 15rem;
    font-size: 2rem;
}
.header-image{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.header-title{
    text-decoration: none;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    color: #ffff;
}
.menu-icon{
    position: absolute;
    left: 20px;
    top: 2rem;
    transform: translate(0);
    transition: transform .5s;
}
.menu-icon-notvisible{
    transform: translate(-150%);
}

@media screen and (max-width: 750px) {
    .header-container-expand{
        /* height: 15rem;
        font-size: 2.5rem; */
    }
}