.header-container{
    position: relative;
    overflow: hidden;
    display: flex;
    transition: height .6s, font-size .4;
}
.header-container-compact{
    height: 5rem;
    font-size: 2rem;
}
.header-container-expand{
    height: 20rem;
    font-size: 3rem;
}
.header-image{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.header-title{
    text-decoration: none;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    color: #ffff;
}