<div    class="header-container header-container-compact"
        [ngClass]="{ 'header-container-hidden' : currentRoute === 'postSelected' }">
    <!-- <img    src="assets/media/icons/menu_open.svg" alt="Mi primera Furgo" class="menu-icon"
            [ngClass]="{ 'menu-icon-notvisible' : currentRoute === 'inicio' }"> -->
        <app-lateral-menu></app-lateral-menu>
    <img src="assets/media/img/furgo_noche.jpg" alt="Mi primera Furgo" class="header-image">
    <a [routerLink]="'/home'" class="header-title">Mi Primera Furgo</a>
</div>