.footer-container{
    padding-left: 2rem;
    padding-top: 1rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    min-height: 5rem;
    color: darkgray;
    background-color: rgba(0, 0, 0, 0.9);
}
.nosotros-container{
    width: 20rem;
    margin-bottom: 1rem;
}
.title{
    color: #f1eded;
    margin-top: 0;
}
.nosotros-text{
}
.contacto-container{
    width: 20rem;
    margin-bottom: 1rem;
}
.contact-option{
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}
.contact-icon{
    width: 1.5rem;
    margin-right: .5rem;
}

.social-container{
    width: 20rem;
    margin-bottom: 1rem;
}
.social-icon{
    width: 1.5rem;
    cursor: pointer;
    transition: transform .2s;
    margin-right: .5rem;
}
.social-icon:hover{
    transform: scale(1.1);
}
.socials{
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
}

@media screen and (max-width: 750px) {
    .footer-container{
        flex-direction: column;
        align-items: center;
    }
}