<div class="footer-container">
    <div class="nosotros-container footer-region-container">
        <h3 class="title">¿Quien soy?</h3>
        <p class="nosotros-text">
            Soy una persona aventurera, me encanta viajar y explorar nuevas rutas.
            <br><br>
            Subirme a la furgo y cubrir kilometros viviendo nuevas experiencias es mi pasión, sobre todo con la compañia de mi fiel compañero Lur
            <br><br>
            Si te apasiona todo ese mundo, estas en el sitio correcto!
        </p>
    </div>
    <!-- <div class="nosotros-container footer-region-container">
        <h3 class="title">Categorias</h3>
        <ul class="category-list">
            <li *ngFor="let category of categories">
                <a href="" class="category-item">{{ category }}</a>
            </li>
        </ul>
    </div> -->
    <div class="social-container footer-region-container">
        <h3 class="title">Contacto</h3>
        <div class="socials">
            <img    src="assets/media/icons/social/facebook.svg" 
                    alt="Facebook" 
                    class="social-icon"
                    (click)="goTo('facebook')">
            <img    src="assets/media/icons/social/twitter.svg"
                    alt="Twitter" 
                    class="social-icon"
                    (click)="goTo('twitter')">
            <img    src="assets/media/icons/social/instagram.svg"
                    alt="Instagram" 
                    class="social-icon"
                    (click)="goTo('instagram')">
            <img    src="assets/media/icons/social/youtube.svg"
                    alt="Youtube" 
                    class="social-icon"
                    (click)="goTo('youtube')">
            <img    src="assets/media/icons/social/email.svg"
                    alt="Email" 
                    class="social-icon"
                    (click)="goTo('email')">
        </div>
    </div>
</div>