<div class="footer-container">
    <div class="nosotros-container footer-region-container">
        <h3 class="title">¿Quien soy?</h3>
        <p class="nosotros-text">
            Soy una persona aventurera, me encanta viajar y explorar nuevas rutas.
            <br><br>
            Subirme a la furgo y cubrir kilometros viviendo nuevas experiencias es mi pasión, sobre todo con la compañia de mi fiel compañero Lur
            <br><br>
            Si te apasiona todo ese mundo, estas en el sitio correcto!
        </p>
    </div>
    <!-- <div class="separador"></div>
    <div class="contacto-container footer-region-container">
        <h3 class="title">Contacto</h3>
        <div class="contact-option">
            <img    src="assets/media/icons/social/telephone_dark.svg" 
                    alt=""
                    class="contact-icon">
            <span>912 345 678</span>
        </div>
        <div class="contact-option">
            <img    src="assets/media/icons/social/whatsapp_color.svg"
                    alt=""
                    class="contact-icon">
            <span>678 345 678</span>
        </div>
        <div class="contact-option">
            <img    src="assets/media/icons/social/arroba_color.svg"
                    alt=""
                    class="contact-icon">
            <span>miprimerafurgo@mail.com</span>
        </div>
    </div> -->
    <div class="separador"></div>
    <div class="social-container footer-region-container">
        <!-- <h3 class="title">Social</h3> -->
        <div class="socials">
            <img    src="assets/media/icons/social/facebook_color.svg" 
                    alt="Facebook" 
                    class="social-icon"
                    (click)="goTo('facebook')">
            <img    src="assets/media/icons/social/twitter_color.svg"
                    alt="Twitter" 
                    class="social-icon"
                    (click)="goTo('twitter')">
            <img    src="assets/media/icons/social/instagram_color.svg"
                    alt="Instagram" 
                    class="social-icon"
                    (click)="goTo('instagram')">
            <img    src="assets/media/icons/social/youtube.svg"
                    alt="Youtube" 
                    class="social-icon"
                    (click)="goTo('youtube')">
        </div>
    </div>
    <div class="separador"></div>
</div>