.footer-container{
    padding: 2rem;

    display: flex;
    justify-content: space-evenly;

    min-height: 5rem;
    color: darkgray;
    background-color: rgba(0, 0, 0, 0.9);
}
/* .footer-region-container:Not(:last-child){ */
.footer-region-container{
    width: 30%;
}
.footer-region-container:Not(:last-child){
   /*  border-right: thin solid;
    margin-right: 1rem;
    padding-right: 1rem; */
}
.title{
    color: #f1eded;
    margin-top: 0;
    text-align: center;
}
.contact-option{
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}
.contact-icon{
    width: 1.5rem;
    margin-right: .5rem;
}
.social-icon{
    width: 2.5rem;
    cursor: pointer;
    transition: transform .2s;
    margin-right: .5rem;
}
.social-icon:hover{
    transform: scale(1.1);
}
.socials{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: .5rem 0;
}
.category-list{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.separador{
}
.category-item:hover{
    text-decoration: underline;
}

@media screen and (max-width: 750px) {
    .footer-container{
        flex-direction: column;
    }
    .footer-region-container{
        width: 100%;
    }
    .footer-region-container:Not(:last-child){
        border-right: none;
        margin-right: 0;
        padding-right: 0;
    }
    .separador{
        border-bottom: thin solid;
        width: 15rem;
        margin: 0 auto;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
}