.footer-container{
    padding: 2rem;

    display: flex;
    justify-content: space-evenly;

    min-height: 5rem;
    color: darkgray;
    background-color: rgba(0, 0, 0, 0.9);
}
/* .footer-region-container:Not(:last-child){ */
.footer-region-container{
    width: 30%;
}
.title{
    color: #f1eded;
    margin-top: 0;
}
.contact-option{
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}
.contact-icon{
    width: 1.5rem;
    margin-right: .5rem;
}
.social-icon{
    width: 1.5rem;
    cursor: pointer;
    transition: transform .2s;
    margin-right: .5rem;
}
.social-icon:hover{
    transform: scale(1.1);
}
.socials{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-width: 750px) {
    .footer-container{
        flex-direction: column;
    }
    .footer-region-container{
        width: 100%;
        margin-bottom: 1rem;
    }
}