/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    scroll-behavior: auto;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 100%;
}
.body{
    min-height: calc(100vh - 10rem);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: #1f1f1f;
    background-color: #ffff;
    color: #f1eded;
}
a{
    color: #f1eded;
    text-decoration: none;
}
@media screen and (max-width: 750px) {
    .body{
        min-height: calc(100vh - 20rem);
    }
}