<div class="camp-container">
    <!-- <img src="assets/media/icons/under-constructions.svg" alt="">
    <span>Los sentimos, pero esta sección se encuentra en construcción &#x263A;</span>    -->

    <div class="header-image-container">

    </div>
    <aside class="options-container">
        <ul class="option-list">
            <li class="option-item">
                <button class="option"
                        (click)="showSuboption('texto')">Texto
                </button>
                <div    class="subOption-container"
                        [ngClass]="{ 'subOption-hidden' : subOptionsTextVisible === false }">
                    <button class="option subOption">Titulo</button>
                    <button class="option subOption">Subtitulo</button>
                    <button class="option subOption">Lista</button>
                    <button class="option subOption">Parrafo</button>
                </div>
            </li>
            <li class="option-item">
                <button class="option"
                        (click)="showSuboption('media')">Media
                </button>
                <div    class="subOption-container"
                        [ngClass]="{ 'subOption-hidden' : subOptionsMediaVisible === false }">
                    <button class="option subOption">Imagen</button>
                    <button class="option subOption">Galeria</button>
                </div>
            </li>
            <li class="option-item">
                <button class="option">Video</button>
            </li>
        </ul>
    </aside>
</div>