.camp-container{
    min-height: calc(100vh - 10rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.header-image-container{
    height: 10rem;
    width: 90%;
    background-color: rgba(255, 255, 255, .7);
    border: 1px dotted;
}
.options-container{
    position: fixed;
    right: 0;
    top: 10rem;
}
.option-container{

}
.option-list{
    list-style: none;
}
.option-item{
    display: flex;
    flex-direction: row-reverse;
}
.option{
    margin: 0 .5rem;
}
.subOption-container{
    display: inline;
    padding: 0 .5rem;
}
.subOption-hidden{
    display: none;
}
.subOption{
    margin: 0;
}