.articulos-container{
    min-height: calc(100vh - 10rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.new-articulo-container{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
.iframes-container{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1rem 0;
}
.articulo{
    width:120px;
    height:240px;
    margin: .5rem;
}
.input-articulo{
    outline: none;
    border: none;
    border-bottom: 1px solid #aaaa;
    margin-left: .5rem;
    caret-color: #aaaa;
}
.button-articulo{
    background: none;
    border: 1px solid transparent;
    outline: none;
    font-size: 1.5rem;
}
.button-articulo:hover{
    cursor: pointer;
    border: 1px solid #aaa;
    background-color: #aaa;
}
.info-container{
    position: relative;
}
.icon-info{
    width: 1rem;
    filter: invert(.4);
}
.icon-info:hover{
    cursor: pointer;
    background-color: #dedede;
    border-radius: 50px;
    transform: scale(1.2);
    filter: invert(0);
}
.info-text{
    display: none;
    width: 10rem;
    position: absolute;
    top: 20px;
    right: -5rem;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 5px;
    color: #dedede;
    padding: .5rem;
}
.icon-info:hover ~ .info-text{
    display: inline;
}
.suggest{
    position: absolute;
    top: .5rem;
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
    width: 100%;
    padding: 0;
    list-style: none;
}
.suggest-item{
    margin: .3rem 0;
}
.suggest-item:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, .1);
}