.articulos-container{
    min-height: calc(100vh - 10rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.new-articulo-container{
    display: flex;
    align-items: flex-start;
}