<div class="articulos-container">
    <!-- <img src="assets/media/icons/under-constructions.svg" alt="">
    <span>Los sentimos, pero esta sección se encuentra en construcción &#x263A;</span> -->
    <div class="new-articulo-container">
        <button (click)="insertarArticulo()">+</button>
        <form action="" [formGroup]="formArticulos">
            <textarea name="" id="" cols="30" rows="5" formControlName='articulo'></textarea>
        </form>
    </div>
    <div class="iframes-container">
        <iframe *ngFor="let articulo of articulos"
                marginwidth="0" marginheight="0" 
                scrolling="no" frameborder="0" 
                [src]="cargarArticulo(articulo)"
                class="articulo">
        </iframe>
    </div>
</div>