.articulos-container{
    min-height: calc(100vh - 10rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.new-articulo-container{
    display: flex;
    align-items: flex-start;
}
.iframes-container{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1rem 0;
}
.articulo{
    width:120px;
    height:240px;
    margin: .5rem;
}