<div class="miniature-container">
    <a  [routerLink]="'/aventura'"
        [queryParams]="{'id': aventura.id}"
        class="miniature-link">
        <img [src]="aventura.headerImage" alt="" class="miniature-image">
    </a>
    <div class="info-container">            
        <a  [routerLink]="'/aventura'"
            [queryParams]="{'id': aventura.id}"
            class="miniature-link">
            <span class="miniature-title">{{ aventura.titulo }}</span>
        </a>
        <div class="miniatures">
            <app-user-miniature-info [user]="user"></app-user-miniature-info>
            <app-post-miniature-info
                [comments]="12"
                [timeAgo]="aventura.creado_hace"
                [views]="aventura.views"
                [created_at]="aventura.fecha_creacion">
            </app-post-miniature-info>
        </div>
    </div>
    <p class="texto-resumen">{{ aventura.resumen }} 
        <a  [routerLink]="'/aventura'"
            [queryParams]="{'id': aventura.id}"
            class="miniature__link">
            Leer
        </a>
    </p>
</div>