<div class="miniature-container">
    <a  [routerLink]="'/aventuraSeleccionada'"
        [queryParams]="{'id': aventura.id}"
        class="miniature-link">
        <img [src]="aventura.headerImage" alt="" class="miniature-image">
    </a>
    <div class="info-container">            
        <a  [routerLink]="'/aventuraSeleccionada'"
            [queryParams]="{'id': aventura.id}"
            class="miniature-link">
            <span class="miniature-title">{{ aventura.titulo }}</span>
        </a>
        <div class="miniatures">
            <app-user-miniature-info></app-user-miniature-info>
            <app-post-miniature-info></app-post-miniature-info>
        </div>
    </div>
    <p class="texto-resumen">{{ aventura.resumen }}</p>
</div>