<div class="miniature-container">
    <a [routerLink] ="['/aventuras', index]" class="miniature-link">
        <img [src]="imageURL" alt="" class="miniature-image">
        <div class="info-container">
            <span class="miniature-title">{{ title }}</span>
            <div class="miniatures">
                <app-user-miniature-info></app-user-miniature-info>
                <app-post-miniature-info></app-post-miniature-info>
            </div>
        </div>
    </a>
    <p class="texto-resumen">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, maxime eum laboriosam repellendus ipsa modi magnam nemo quisquam consectetur alias in error praesentium, beatae labore veritatis architecto odit ipsum. Ex.</p>
</div>