.miniature-container{
    padding-bottom: 2rem;
    max-width: 30rem;
}
.miniature-link{
    width: 20rem;
    margin-bottom: 1rem;
    position: relative;
}
.info-container{
    border-bottom: 1px solid;
    padding-bottom: .5rem;
    width: 100%;
    margin: 0 auto;
}
.miniature-title{
    width: 90%;
    padding: 0;
    margin: 0;
    font-size: 24px;
    color: #1f1f1f;
}
.miniatures{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .5rem;
}
.texto-resumen{
    width: 100%;
    color: #1f1f1f;
}
.miniature__link{
    color: dodgerblue;
    font-style: italic;
}

@media screen and (max-width: 750px) {
    .info-container{
        width: 90%;
    }
    .texto-resumen{
        width: 90%;
        margin: 0 auto;
    }
}